section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about {
  width: 900px;
  max-width: 90vw;
  display: flex;
  gap: 2rem;
}

/* Card */

.about .card {
  background-color: var(--background-light);
  height: 525.78px;
  margin-top: -1.5rem;
}

.about .card img {
  width: 50%;
  width: 205px;
  height: 205px;
  border-radius: 50%;
  object-fit: cover;
}

.about .card {
  opacity: 0;
  margin-top: 300px;
  transition: 0.8s;
  width: 375px;
  font-family: "Montserrat", sans-serif;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.about .card.loaded {
  opacity: 1;
  margin-top: 0;
  transition: 0.8s;
}

.about .card .content {
  height: calc(100% - 53px);
  display: flex;
  align-items: center;
  flex-flow: column;
}

.about .card .content img {
  margin-top: 4rem;
}

.about .card .content h1 {
  font-size: 27px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 30px;
}

.about .card .content .line {
  height: 2px;
  width: 50px;
  margin-bottom: 25px;
  background-color: var(--primary);
}

.about .card .content .position {
  letter-spacing: 3px;
}

.about .card .socials {
  height: 53px;
  background: var(--white);
  display: flex;
  gap: 0.5rem;
}

.about .card .socials img {
  width: 25px;
  height: 25px;
}

/* Text */

.about .text {
  width: 375px;
  font-family: "Montserrat", sans-serif;
  opacity: 0;
  transition: 0.8s;
}

.about .text.loaded {
  opacity: 1;
  transition: 0.8s;
}

.about .greeting {
  font-size: 100px;
  line-height: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.about .presentation {
  font-size: 25px;
  font-weight: 500;
}

.about .description p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.about .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 4rem auto;
}
