@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./assets/about-me.css");

* {
  --background: #e6dace;
  --primary: #0050ff;
  --white: #fff;
  --background-light: #f4ece6;
  --text-color: #000;
  --font-size: 16px;
}
body {
  min-height: 100vh;
  margin: 0;
  font-size: var(--font-size);
}

.box {
  width: 25px;
  height: 25px;
  background-color: var(--primary);
}

header,
footer {
  height: 125px;
  min-height: 10%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 14px;
}

header .left-side {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

header .name {
  font-size: 25px;
  line-height: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

header .position {
  font-size: 17px;
}

footer .label {
  font-weight: 500;
}

footer img {
  width: 19px;
  height: 19px;
}

main {
  background: linear-gradient(to right, var(--background) 44%, white 44%);
  height: calc(100vh - 125px - 125px);
  max-height: calc(100vh - 10% - 10%);
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  background: var(--background);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.5);
}

section {
  height: 100%;
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
}

.socials img {
  transition: 0.4s;
}

.socials img:hover {
  transition: 0.4s;
  opacity: 0.5;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: 0.4s;
}

a.active {
  color: var(--primary);
}

ul {
  padding-inline-start: 0;
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}

ul li {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

a.button {
  width: 130px;
  height: 35px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 45px;
  font-weight: 500;
}

a.button.primary {
  border: 2px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  transition: 0.4s;
}

a.button.primary:hover {
  color: var(--text-color);
  background-color: var(--white);
}

a.button.secondary {
  border: 1px solid var(--text-color);
}

a.button.secondary:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--white);
  transition: 0.4s;
}

section.full {
  background-color: var(--background);
}

.content-box {
  max-width: 725px;
  width: 90%;
}
